/*!CK:1281194816!*//*1416955221,*/

._yoh{width:858px}._2fq8{width:654px}
._2n96{background-image:url(/rsrc.php/v2/yU/r/iNgUHazHUEU.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}._2n99{width:500px}
._2kb5{margin-top:0}
._3jn7{background:-webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f6f7f8));background:-webkit-linear-gradient(to bottom, #ffffff 0%, #f6f7f8 100%);cursor:pointer;display:inline-block;float:left;height:200px;margin:0 5px;position:relative;width:186px}._3jn7:hover{text-decoration:none}._3jn8{height:50px;margin-top:35px;width:50px}._3jn9{font-size:14px;line-height:20px;margin-top:10px}._3jna{font-size:12px;font-weight:normal;line-height:20px;margin:0 auto;width:143px}
._3m9e{color:#46a800;font-family:Menlo, Monospace}

#bootloader_HOB9x { height: 42px; }
.bootloader_HOB9x { display:block !important; }