/*!CK:717602270!*//*1409946627,*/

._5xbs{font-size:14px;line-height:20px}._5xbt{float:right}._5dqh{display:inline-block;position:relative}._5dqi{margin-left:10px;margin-top:-16px;position:absolute}

#bootloader_UqyTO { height: 42px; }
.bootloader_UqyTO { display:block !important; }